[Desktop Entry]
Name=Duck
Exec=/usr/lib/duck/Duck %U
Icon=/usr/share/pixmaps/duck.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;